"Missing further values" when decoding valid cms message.

When I send the below message (rfc6492 list) to krill, it replies with an error saying it can't read the cms message ("missing further values at position 99")

As far as I can tell the message is valid. If not I'd be curious to know what's wrong with it.

The message can be successfully parsed with:
- python asn1crypto lib
- openssl cms
- lapo.it/asn1js

I'm out of my troubleshooting depth with Rust so asking for help here. I can't tell if the error comes from the underlying decoding logic (bcder-rs) or if from the unmarshaling struct (ca::sigmsg::SignedMessage). I suspect the latter.

Here is the message b64:

MIIK8AYJKoZIhvcNAQcCoIIK4TCCCt0CAQMxDTALBglghkgBZQMEAgEwgZkGCyqGSIb3DQEJEAEcoIGJ
BIGGPG1lc3NhZ2UgeG1sbnM9Imh0dHA6Ly93d3cuYXBuaWMubmV0L3NwZWNzL3Jlc2NlcnRzL3VwLWRv
d24vIiByZWNpcGllbnQ9InRlc3RiZWQiIHNlbmRlcj0ibXlfY2hpbGQiIHR5cGU9Imxpc3QiIHZlcnNp
b249IjEiPjwvbWVzc2FnZT6gggUeMIIFGjCCAwKgAwIBAgIULSlj/xwMjW8/J37Vxr7ZlcCdFQAwDQYJ
KoZIhvcNAQELBQAwLzEtMCsGA1UEAwwkNjgwYTI1ZWEtOTk2Mi00NzhlLWJkNmQtODViZWEzNTA4ODRk
MB4XDTIzMDYwMTA3MzUzNVoXDTIzMDYwMjA3MzUzNVowLzEtMCsGA1UEAwwkODhkYmZhN2EtNjllZi00
ZTM3LTgxNjEtM2VhZTVmZGM0M2U4MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAzBI0zyNw
DIRBrOokqgF/MxiaRMGUK9odjr4BCcJajjHKzjU7Sh6LZNv7FyVsFeEocWU1lPXQF6LobbrUu2GbgAvx
7alPwpjGkNz3Oi6ufCtaWuV0mLbrrzVNAtrT7/28sMZbz84UZjJqeD09kv1RUiUlwWnQUxV++6L7hWMS
8KWKyM+E2BLlNaeiDCP2otPTvH5m+4Znu91E1gMTJPWA2moDQiHInvf6nMt+GZhFOfQR3F/HC7nz9IPs
pCzgJvz9Af394O6KoCWBeT6/+PZkHtob9KAAUL4m6jg5azzosTDWIhZWv4s+wO8rH8+y9ra75EykNpnh
cc6X3eGCDLoz9mR7xYj054Brqoc3/l7z+dnECKhvqDhSjGbklItb34ZXRzkftwxm9xJ4zf6qIWAj/Nsv
HxMmNz3cSxIJu3C8spDFHTHakqSev1eqSqzXQORO6dLn/A0FpOoAOwK7nyzsc7W2aajidQXtxhAN3EDJ
425j8yEj7Zv6ACoEpneYIPzhpUmDVnGqeD16D5Rrvccr2pbUhcDtskrYdU9qsqaLlB04z7Kp/YwWf1Zc
aLtAcKqKfZQQpRao8xFMPrDfgUgseQLH7Wnwk8I3tPXkqMt8vuvlhiqUz8BcxZ9ZpSvipEt5jlk+SvvD
MkOi+xRuZp1KadRjMp+4dgDMpBLaR+tjMlcCAwEAAaMuMCwwHQYDVR0OBBYEFM+6tdnZi5Kutkk1e/BU
5KZLp72HMAsGA1UdDwQEAwIHgDANBgkqhkiG9w0BAQsFAAOCAgEAe3C/jQsLJDVwpns0lw348j3rP802
tFjpn7a/2BEIN1u77D+JzO2z7i6HVxt0BjwSrQrdSlIphYfBYnY/u9u/MrG9ArXeo9M5PbnBBhwmMALc
GUx76pozytIcLGa9zqTeWg+T9f+2453AufEVycpJ2890CpKtTTmoOsJE9hFKNVpxab7X2O+VGPQSbrmj
JE3DH5RwGJr5ITTn3i+NSs+7WhsdVUgD/VKil6H1doa3zMwAcaDo14qDWLPd+/dUILHQAhaMWqfzHpLp
TclTjdRXak1dBkYM06TW+Vf/JCv1rUj6fnqJgiVVJs+yA1mvFwDP/iIzsvyEX2FpdgveA+GJ3SiWEDBq
kz7Su1D75mLUaqKLFWwmRW5dcJazDNLmFKvXqBduXaFQNCFoCJf1JegaSm4xUBBLeQ5A3MX2D4B0foyu
n3ruvfkhSXz06mvP/USfWiY8bxUhCNMT5RQORUaZXsWi8DWP/tn3ef6PURqk4Ebo8oHO5SvKhzSmnBKt
siD/7M3t8xHxHaMmbGMIIIArKB8AUcztTrJsFWbczBH7uAL9gNQg2Fi093ByIRkaNXu0ngensHh55Ew7
JRqT2AaKxYuvS44ek9HG0mifH8CxFa7ZO+gOkPtsPSgkO0iazifUDnlmGKHZm2T7N3uByEU0fT5aJ3uk
BvLvAxIh2OP/dDShggJ7MIICdzBhAgEBMA0GCSqGSIb3DQEBCwUAMC8xLTArBgNVBAMMJDY4MGEyNWVh
LTk5NjItNDc4ZS1iZDZkLTg1YmVhMzUwODg0ZBcNMjMwNjAxMDczNTM1WhcNMjMwNjA4MDczNTM1WjAN
BgkqhkiG9w0BAQsFAAOCAgEAQY+Q78YG1WRUzs6NN0+mBjy3N5flUQCqX4QZnqiJjFzcu1TagwMlERq8
wDUV6kyCU56NK2UlXu4vrtD4jSZuCBl0A/tQvXRgOqKkN31X6KmV/f9IAA0bE3otGx99b9MMtn9FveGs
DZLvTkEUJTnrKWcjsLy1UxeFttzvZVcVCCcF6sHmg6kk8PN6BHvY1d8sQj+i0KtUkxzQZfJvEnEABZqn
MY21UrRNuJCv6a4pmM7D9XD5pWfRlsr4HywcFg27opn5KUBoPNeltdS7Mufb4GrdSNs5GcO7t2EUKE6Q
hBndeyjo/KrnYPFcdTKACwPb+gK1poteX8t+cqeV3vVVYpwfcURueIGxHaXllGrfTWZfKZX2e/xD1Ju+
0yCdyd5A9VYOlP+Oj577NKVc2o++fYH6aZ1c71R5per3W5P06busPLjlTVIA2IFgqbXNtPaMOEu5vija
PPlFEsllQOxSZKtVHAGUzhcBYejsWNRYUVnO3iOdbthXRqGkw9SA8NAZy+2LfJm9uIDAqzDNhciXnoAK
LHl/96hHUM93+mUXJK29kOpFb1L4pBjOI/R+93arX2F5CC5c3LKcRMQWfQV6lAUAE3Xg73S3n2ieXzNc
LJjWpSnUSuIEuI6/FNQOEiqO8FF+EF2b8mthwlnxGZY7W2rDso+h1LhT+irGN2/ATmgxggKKMIIChgIB
A4AUz7q12dmLkq62STV78FTkpkunvYcwCwYJYIZIAWUDBAIBoE0wGgYJKoZIhvcNAQkDMQ0GCyqGSIb3
DQEJEAEcMC8GCSqGSIb3DQEJBDEiBCAn2fxqK2+Ex63T+YFCXfCDa+aPmTR7kN3VSbufPHIHtTALBgkq
hkiG9w0BAQsEggIAKW+QASax9gSLBPHJkqfMmLovICKV66FtZObLBIQcGS4VZtXx/hz6WGskuoqT/lU+
/i7ajHunY5+A5ZjiLcxERLJZWwsTP6YMbiBdt+c/jt8UnAXOPG7sGIoXbXOrfwrzs4i9ILCBOsCaPmTy
r/Nb+vutzPWQ8U4rncWflIZwKcucdv42mqWIV6IGQLcSPQLRs5I5vceleoaAFczFH0JXJChQPs6oImN7
Jk5KlltQo+qk7H+6egf5iSiaof5854J/0TWZ+bE5dBUj6aia2i7rgTc5FdNXRVka5kmib/Yp+TmekoF4
uVW6A4TdfY/FKG1umSDBJUD6zUlKfncFKOfLaFdjScDLEVtBuzH46UOkcl8x6J8QdM+turr8RkbrxROF
6GSwb9KGDdUq2cHLRkUEOvaHgCsC2K21D+phLT+xhGEfB0baFW6DE3crTp+31ep7zb9duZsetnJfK9XR
/AMHKx70T6LMJzfBgXlGA/L6dzaM98McB5OGpczwufrXvd/OJGl+2oEwSnU68UCh3Pqo1ljXeH8stB+c
F0nK7YqNkRwccTExbuSOR0WSnmXHCzdnDhOp+FnHyoFx0j8WZTFvK5yPtFxWfPx1Q7dd5vTbeFUCkxkO
3NJeyIcHTxySV5K4TS9fwzNZ99lgU/q4LCfH58O2wH8Yzc2hHOOk4pouGsM===

The CRL is missing extensions:
https://datatracker.ietf.org/doc/html/rfc5280#section-5.2

We expect that extensions are present, and the Authority Key Identifier and CRL number may be there. Even though we believe they would not be strictly needed in this context. Section 5.2 of RFC 5280 has the following:
```
   Conforming CRL issuers are REQUIRED to include the authority key
   identifier ([Section 5.2.1] and the CRL number ([Section 5.2.3])
   extensions in all CRLs issued.
```

So, I think we probably MUST reject CRLs if they don't.. That said the error could be a whole lot clearer of course.